In [1]:
function test(n::Integer, minval::Integer)
    for k in 1:n
        if rand(1:6) >= minval
            return true
        end
    end
    return false
end

test (generic function with 1 method)

In [2]:
function batch_test(iter, n, minval)
    c = 0
    for i in 1:iter
        if test(n, minval)
            c += 1
        end
    end
    return (c/iter)*100 |> x->round(x, 1)
end

batch_test (generic function with 1 method)

In [3]:
const ITER = 10^6 |> round

1000000

In [4]:
using DataFrames

In [5]:
df = DataFrame()
df[:two] = map(x->batch_test(ITER,x,2),collect(1:10))
gc()
df[:three] = map(x->batch_test(ITER,x,3),collect(1:10))
gc()
df[:four] = map(x->batch_test(ITER,x,4),collect(1:10))
gc()
df[:five] = map(x->batch_test(ITER,x,5),collect(1:10))
gc()
df[:six] = map(x->batch_test(ITER,x,6),collect(1:10))
gc()
df

10×5 DataFrames.DataFrame
│ Row │ two   │ three │ four │ five │ six  │
├─────┼───────┼───────┼──────┼──────┼──────┤
│ 1   │ 83.3  │ 66.7  │ 50.0 │ 33.3 │ 16.7 │
│ 2   │ 97.2  │ 88.9  │ 75.0 │ 55.6 │ 30.6 │
│ 3   │ 99.5  │ 96.3  │ 87.5 │ 70.4 │ 42.2 │
│ 4   │ 99.9  │ 98.8  │ 93.7 │ 80.2 │ 51.8 │
│ 5   │ 100.0 │ 99.6  │ 96.9 │ 86.8 │ 59.9 │
│ 6   │ 100.0 │ 99.9  │ 98.4 │ 91.3 │ 66.5 │
│ 7   │ 100.0 │ 100.0 │ 99.2 │ 94.1 │ 72.1 │
│ 8   │ 100.0 │ 100.0 │ 99.6 │ 96.1 │ 76.8 │
│ 9   │ 100.0 │ 100.0 │ 99.8 │ 97.4 │ 80.6 │
│ 10  │ 100.0 │ 100.0 │ 99.9 │ 98.3 │ 83.8 │